<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>List of Stocks</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Logo</th> <!--новая колонка в заголовке таблицы-->
                <th>Ticker</th>
                <th>Company</th>
                <th>Last close price</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td> <!--новая колонка в теле таблицы-->
                    {% if stock.logo %}
                    <img src="{{ MEDIA_URL }}/{{ stock.logo }}" width="40" />
                    {% endif %}
                </td> <!--новая колонка заканчивается здесь-->
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.get_random_price }}{{ stock.currency.sign }}
                    <a href="{% url 'stock:detail' stock.pk %}">Купить/Продать</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
</html>